#card-container {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  /*margin: 100px;*/
  padding: 0;
}

.product {
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  width: auto;
  min-height: 155px;
  margin: 7px;
  color: black;
}

.product img {
  margin-left: 10px;
  width: 180px;
  height: 200px;
}

.product-card {
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  width: 200px;
  min-height: 355px;
  margin: 7px;
  color: black;
  border: 2px solid white;
}

.invis button {
  visibility: hidden;
}

.invis:hover button {
  visibility: visible;
}


/*.product-card button {
  visibility: hidden;
}

.product-card:hover button {
  visibility: visible;
}*/

.product-card:hover {
  border: 2px solid black;
}

.category {
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 0px;
}

.tovar-desc {
  margin-top: 20px;
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
}

.price {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.product-card img {
  margin-left: 10px;
  width: 180px;
  height: 200px;
}

#numbers {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#numbers a {
  text-decoration: none;
  padding-right: 5px;
  font-family: 'paragraph';
  color: black;
}