.container {
  max-width: 1200px;
  margin: 0 auto;
}

main .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.characters {
  color: #8f8f8f;
  font-weight: 600;
  margin-top: 10px;
  line-height: 0.8;
}

i:hover {
  color:rgb(255, 102, 0);
}

#content-products {
  margin: 0;
  padding: 0px 10px 10px 10px;
  min-width: 220px;
}

.category {
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 0px;
  color: #464646;
}

.category {
  color: black;
  font-size: 16px;
  /*font-family: 'oswald';*/
}

#main-cat {
  list-style-type: square;
}
#main-cat li {
  text-decoration: none;
  padding-left: 10px;

  padding-top: 5px;
  padding-bottom: 5px;

  list-style-position: inside;
}

#selected1 {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}

.center {
  margin: 0 auto;
}

.numbers {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.numbers a {
  font-size: 24px;
  text-decoration: none;
  margin: 0px 5px 0px 5px;
}

p.category a, a.category {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 0px;
  color: #464646;
  font-weight: 600;
}